1 = 1 and (not 1)
2 = (1 or 2) and (not 10)
3 = (1 or 3) and (not 10)
4 = 3
5 = (7 or 5) and (not 4) and (not 8) and (not 10)
6 = (7 or 11) and (not 10)
7 = 10 or 11
8 = (2 or 8) and (not 7) and (not 9)
9 = (6 or 7 or 9) and (not 4) and (not 8) and (not 10)
10 = (8 or 10 or 11) and (not 5) and (not 7) and (not 9)
11 = 8 or 10